
/* General */

    #gocart-main-container {
        width: 996px;
        position: absolute;
        top: 45px;
        z-index: 10000;
        background-color: #ffffff;
        font-family: Arial !important;
    }

    #gocart-main-container a.gocart-btn {
        display: inline-block;
        border: 4px solid #e8e8e8;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #a2a2a2;
        padding: 8px 15px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        font-size: 12pt;
    }

    #gocart-main-container a.gocart-next {
        background-color: #019ed4;
        border: 4px solid #c4e7f4;
    }

    #gocart-actions {
        height: 75px;
        padding: 0 20px;
    }

    #gocart-actions a.gocart-next {
        margin-top: 20px;
        float: right;
    }

    #gocart-actions a.gocart-previous {
        margin-top: 20px;
        float: left;
    }

/* General */

/* Header */

    #gocart-header {
        height: 85px;
        background-color: #070707;
    }

    #gocart-header #gocart-title {
        display: block;
        float: left;
        height: inherit;
        line-height: 85px;
        background: url("img/header-icon.png") 30px center no-repeat;
        padding-left: 80px;
        color: #898989;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18pt;
    }

    #gocart-header #gocart-total {
        display: block;
        float: right;
        margin-right: 30px;
        height: inherit;
    }

    #gocart-header #gocart-total span {
        display: block;
        height: inherit;
        float: left;
        font-weight: bold;
    }

    #gocart-header #gocart-total span.gocart-label {
        width: 80px;
        color: #898989;
        text-transform: uppercase;
        margin-right: 10px;
    }

    #gocart-header #gocart-total span.gocart-label span {
        height: auto;
        margin-top: 20px;
    }

    #gocart-header #gocart-total span.gocart-amount {
        line-height: 85px;
        color: #0197d0;
        font-size: 28pt;
    }

/* Header */

/* Steps */

    ul#gocart-steps {
        display: block;
        list-style: none;
        height: 60px;
        margin: 0;
        padding: 0;
        background: #e1e1e2; /* Old browsers */
        background: -moz-linear-gradient(top, #e1e1e2 0%, #fbfbfb 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e1e2), color-stop(100%,#fbfbfb)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #e1e1e2 0%,#fbfbfb 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #e1e1e2 0%,#fbfbfb 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #e1e1e2 0%,#fbfbfb 100%); /* IE10+ */
        background: linear-gradient(to bottom, #e1e1e2 0%,#fbfbfb 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e2', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-9 */
    }

    ul#gocart-steps li {
        display: block;
        height: inherit;
        width: 165px;
        border-right: 1px solid #e1e1e1;
        float: left;
    }

    ul#gocart-steps li.active {
        background-color: #ffffff;
        border-color: #ffffff;
    }

    ul#gocart-steps li#gocart-confirm-step {
        width: 166px;
        border-right: 0;
    }

    ul#gocart-steps li span {
        display: block;
        float: left;
    }

    ul#gocart-steps li span.gocart-step-number {      
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        background-color: #0197d0;
        height: 29px;
        width: 29px;
        line-height: 29px;
        text-align: center;
        margin: 15px 0 0 20px;
        color: #6dcff6;
        font-weight: bold;
        font-size: 14pt;
    }

    ul#gocart-steps li span.gocart-step-text {      
        width: 80px;
        margin: 13px 0 0 10px;
        text-transform: uppercase;
        color: #8e8e8e;
        font-weight: bold;
        line-height: 16px;
    }

    ul#gocart-steps li.active span.gocart-step-text {
        color: #333333;
    }
    
/* Steps */

/* Items */

    table#gocart-items {
        width: 100%;
    }

    table#gocart-items th {
        text-align: center;
        color: #999999;
        text-transform: uppercase;
        font-weight: bold;
        padding: 15px 0;
        border-bottom: 1px solid #eeeeee;
    }

    table#gocart-items td {
        padding: 30px 0;
        text-align: center;
        background-color: #fbfbfb;
        border-bottom: 1px solid #eeeeee;
    }

    table#gocart-items tr.odd td {
        background-color: #ffffff;
    }

    table#gocart-items th.gocart-item-th-1 {
        text-align: left;
        padding-left: 30px;
    }

    table#gocart-items td.gocart-item-td-1 {
        padding: 0 30px;
        text-align: left;
    }

    table#gocart-items td.gocart-item-td-1 span {
        display: block;
    }

    table#gocart-items span.gocart-product-name {
        font-weight: bold;
        color: #333333;
        font-size: 14pt;
        text-transform: uppercase;
    }

    table#gocart-items span.gocart-product-id {
        font-weight: bold;
        color: #979797;
        font-size: 10pt;
    }

    table#gocart-items td.gocart-item-td-2, table#gocart-items td.gocart-item-td-3, table#gocart-items td.gocart-item-td-4 {
        width: 120px;
    }

    table#gocart-items td.gocart-item-td-2 a, table#gocart-items td.gocart-item-td-2 span {
        display: inline-block;
    }

    table#gocart-items td.gocart-item-td-2 {
        width: 140px;
    }

    table#gocart-items td.gocart-item-td-2 a {
        height: 17px;
        width: 17px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        background-color: #333333;
        color: #ffffff;
        line-height: 17px;
        text-align: center;
        text-decoration: none;
    }

    table#gocart-items td.gocart-item-td-2 span {
        border: 1px solid #e5e5e5;
        padding: 8px 15px;
        margin: 0 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #ffffff;
    }

    table#gocart-items td.gocart-item-td-5 {
        width: 60px;
    }

    table#gocart-items td.gocart-item-td-5 a {
        display: block;
        width: 40px;
        height: 17px;
        width: 17px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        background-color: #333333;
        color: #ffffff;
        line-height: 17px;
        text-align: center;
        text-decoration: none;
    }

/* Items */


