@import '_app.scss';


.snipcart-hide-for-small {
    @media #{$small-up} {
        display: none;
    }
}


#snipcart-main-container {

    .snipcart-test-mode-flag {
        float: right;
        display: block;
        background-color: yellow;
        opacity: 0.5;
        color: black;
        padding: 5px;
        margin-top: 4px;
        border-radius: 2px;
        margin-right: 10px;
    }

    dl.snipcart-def-list {
        dd {
            float: left;
            margin-right: 10px;
            padding: 5px 0;
            margin-left: 0;
        }
        dt {
            padding: 5px 0;
        }
    }

    .snipcart-container-content {
        padding: 20px;
    }

    table.snipcart-list {
        .snipcart-td-last, .snipcart-th-last {
            padding-right: 20px;
        }

        td strong {
            font-weight: bold;
            color: #333;
        }
    }

    #snipcart-upcoming-payments {
        h2 {
            color: #333333;
            font: 18px 'brandon_grotesquebold', sans-serif;
            text-transform: uppercase;
            padding-left: 10px;
        }

        table tr td {
            vertical-align: top;

            &.snipcart-td-3 {
                padding-right: 40px;

                > .snipcart-total-price {
                    font-size: 18px;
                }
            }
        }

        table tr th {
            &.snipcart-th-3 {
                padding-right: 40px;
            }
        }

        dd {
            margin-bottom: 5px;
        }
    }

    #snipcart-current-user {
        nav {
            float: left;
        }
    }
}

/*** User Menu ***/
.snipcart-user-welcome {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 82%;
    vertical-align: middle;
}

#snipcart-user-menu {
    text-align: left;


    .snip-menu-control {
        cursor: pointer;
        color: #999;
        @include user-select(none);

        &.snip-control-active, &:hover {
            color: #fff;

            .snipcart-burger-icon,
            .snipcart-burger-icon:before,
            .snipcart-burger-icon:after {
                background: #fff;
            }
        }

        span {
            display: none;
            color: red;
        }
    }

    .snipcart-burger-icon {
        background: #999;
        width: 18px;
        height: 3px;
        position: relative;
        display: inline-block;
        vertical-align: 4px;
        margin-right: .3em;

        &:before, &:after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background: #999;
        }

        &:before {
            top: -6px;
        }

        &:after {
            bottom: -6px;
        }
    }

    .snip-user-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #1a1b1d;
        color: #fff;
        z-index: 2;
        text-align: left;

        li {
            padding: 1em 2em;
            border-bottom: 1px solid #333;
            display: block;

            &:first-child {
                border-top: 1px solid #333;
            }
        }

        a {
            cursor: pointer;
            display: block;
            color: #999;

            &:hover {
                color: #fff;
            }
        }
    }

}

@media only screen and (min-width: 768px) {
    #snipcart-user-menu {

        .snip-menu-control {
            span {
                display: inline;
                color: inherit;
            }
        }

        .snipcart-burger-icon {
            width: 15px;
            height: 2px;

            &:before {
                top: -5px;
            }

            &:after {
                bottom: -5px;
            }
        }

        .snip-user-menu {

            li {
                padding: .75em 1.5em;
            }
        }

    }
}



/*** / User Menu ***/