@import '_app.scss';


.snipcart-hide-for-small {
    @media #{$small-up} {
        display: none;
    }
}

#snipcart-main-container {

    dl.snipcart-def-list {
        dd {
            float: left;
            margin-right: 10px;
            padding: 5px 0;
            margin-left: 0;
        }
        dt {
            padding: 5px 0;
        }
    }

    .snipcart-container-content {
        padding: 20px;
    }

    table.snipcart-list {
        .snipcart-td-last, .snipcart-th-last {
            padding-right: 20px;
        }

        td strong {
            font-weight: bold;
            color: #333;
        }
    }

    #snipcart-upcoming-payments {
        h2 {
            color: #333333;
            font: 18px 'brandon_grotesquebold', sans-serif;
            text-transform: uppercase;
            padding-left: 10px;
        }

        table tr td {
            vertical-align: top;

            &.snipcart-td-3 {
                padding-right: 40px;

                > .snipcart-total-price {
                    font-size: 18px;
                }
            }
        }

        table tr th {
            &.snipcart-th-3 {
                padding-right: 40px;
            }
        }

        dd {
            margin-bottom: 5px;
        }
    }

    #snipcart-current-user {
        nav {
            float: right;
        }
    }
}