/**
    SNIPCART V2

    We strongly use BEM methodology
    Every rule must be written within .snip-layout class
    Every class name must be prefix with "snip-"

    IMPORTANT you have to include snipcart's stylesheet AFTER all your stylesheets
*/

/*------------------------------------*\
    GLOBAL IMPORTS
\*------------------------------------*/

// Global mixins, functions
@import "Tools/_mixins.scss";

// Global settings, mostly variables
@import "Settings/_fonts.scss";
@import "Settings/_mediaQueries.scss";
@import "Settings/_colors.scss";


/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_base-color: $dusty-gray;

$_base-font-size: 16px;

$_base-padding: 1.5em 0;

$_base-z-index: 1040;


/*------------------------------------*\
    STYLE
\*------------------------------------*/

// Body override
body.snip-open {
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
    height: auto !important;
}

// Base layout
.snip-layout {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 1) 100%);
    
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $_base-z-index;

    overflow-x: auto;
    
    font-size: $_base-font-size;
    font-family: $font-base;
    line-height: normal;
    color: $_base-color;
    padding: $_base-padding;

    // Compound settings and reset
    @import "Settings/_icons.scss";
    @import "Settings/_reset.scss";

    // Components
    @import "Components/_layout.scss";
    @import "Components/_header.scss";
    @import "Components/_footer.scss";
    @import "Components/_action.scss";
    @import "Components/_button.scss";
    @import "Components/_table.scss";
    @import "Components/_product.scss";
    @import "Components/_quantity-trigger.scss";
    @import "Components/_loader.scss";
    @import "Components/_form.scss";
    @import "Components/_step.scss";
    @import "Components/_cols.scss";
    @import "Components/_error.scss";
    @import "Components/_static.scss";
    @import "Components/_tooltip.scss";
    @import "Components/_flash.scss";
}
