/**
    MIXINS

    [1]. Used to clear floating elements within a container
**/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_reset-form-transition: border .66s ease;

// [1]
@mixin clearfix {
    &::after {
        clear: both;
        content: "";
        display: table;
    }
}

@function fontsize($block, $size) {
    @if not map-has-key($fontsize, $block) {
      @warn "No palette found for `#{$block}` in $styleguide map. Property omitted.";
    }

    @return map-get(map-get($fontsize, $block), $size);
}

@function palette($palette, $tone) {
    @if not map-has-key($palettes, $palette) {
      @warn "No palette found for `#{$palette}` in $palettes map. Property omitted.";
    }

    @return map-get(map-get($palettes, $palette), $tone);
}

@mixin input-reset {
    background: palette(form, background);
    border-radius: 3px;
    border: 1px solid palette(form, border);
    box-sizing: border-box;
    color: palette(form, color);
    display: block;
    font-size: fontsize(reset, base);
    height: auto;
    line-height: 18px;
    margin: 0;
    padding: .571em .429em;
    transition: $_reset-form-transition;
    width: 100%;

    &:focus,
    &:hover {
        border-color: palette(form, border--focus);
    }
}