/**
    CUSTOM FONT FAMILY

    We don't want to load many fonts on your site so we stay classic.
    You can add your custom fonts here and/or define your own fonts family variables.
*/
$font-base: Arial, sans-serif;


/**
    FONT HELPERS

    If you use custom fonts and you don't want browser side weighted fonts:
    - remove font-weight (or add font-weight: normal for example)
    - add your font-family. Ex: font-family: 'myFont-bold';
*/
@mixin font-bold {
    font-weight: 700;
}


/**
    FONT SIZES
*/

/*------------------------------------*\
    SMALL
\*------------------------------------*/

// Used for tipsy, buttons on small screen and step text
$xxsmall: 10px;

// Used for list's header, label, footer copyright
$xsmall: 11px;

// Used for main container base size, buttons for other than small screen
// Used for smaller items
$small: 12px;


/*------------------------------------*\
    MEDIUM
\*------------------------------------*/

// Secondary main font size
$medium: 14px;


/*------------------------------------*\
    NORMAL
\*------------------------------------*/

// Primary main font size
$normal: 16px;


/*------------------------------------*\
    LARGE
\*------------------------------------*/

// Used for empty card, table totals, upcoming payment title
$large: 18px;

// Used for close button, small and medium screens main title
$xlarge: 22px;

// Used for step numbers, large up screens main title
$xxlarge: 28px;

// Used for step icons
$xxxlarge: 36px;