/**
    CUSTOM FONT FAMILY

    We don't want to load many fonts on your site so we stay classic.
    You can add your custom fonts here and/or define your own fonts family variables.
*/
$font-base: Arial, sans-serif;


/**
    ICONS FONT
*/
@font-face {
    font-family: 'Snipcart';
    src:url('fonts/snipcart/Snipcart.eot');
    src:url('fonts/snipcart/Snipcart.eot?#iefix') format('embedded-opentype'),
        url('fonts/snipcart/Snipcart.woff') format('woff'),
        url('fonts/snipcart/Snipcart.ttf') format('truetype'),
        url('fonts/snipcart/Snipcart.svg#Snipcart') format('svg');
    font-weight: normal;
    font-style: normal;
}


/**
    FONT HELPERS

    If you use custom fonts and you don't want browser side weighted/italic fonts:
    - remove font-weight (or add font-weight: normal for example)
    - add your font-family. Ex: font-family: 'myFont-bold';
*/
@mixin font-bold {
    font-weight: 700;
}