/**
    RESET

    We reset to default value for each elements used in snipcart.
    Your style must not impact our style.
*/
div,
span,
h1,
h2,
h3,
h4,
p,
a,
em,
img,
small,
strong,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    line-height: inherit;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    vertical-align: middle;
}

ol,
ul {
    list-style: none;
}

input,
select {
    &:focus,
    &:hover {
        outline: none;
        box-shadow: none;
    }
}

input[type=text],
input[type=password],
select {
    height: auto;
    line-height: 18px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 8px 6px;
    margin: 0;
    font-size: 14px;
    color: #555;
    background: white;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    transition: border .66s ease;

    &:focus,
    &:hover {
        border-color: #333;
    }
}