/**
    RESET

    We reset to default value for each elements used in snipcart.
    Your style must not impact our style.
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_reset-form-color: $emperor;
$_reset-form-background-color: $base--primary;

$_reset-form-font-size: 14px;

$_reset-form-border: 1px solid $gallery;
$_reset-form-border-color-focus: $mine-shaft--lighter;

/*------------------------------------*\
    STYLE
\*------------------------------------*/

div,
span,
h1,
h2,
h3,
h4,
p,
a,
em,
img,
small,
strong,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    line-height: inherit;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    vertical-align: middle;
}

ol,
ul {
    list-style: none;
}

input,
select {
    &:focus,
    &:hover {
        outline: none;
        box-shadow: none;
    }
}

input[type=text],
input[type=password],
select {
    height: auto;
    line-height: 18px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: .571em .429em;
    margin: 0;
    font-size: $_reset-form-font-size;
    color: $_reset-form-color;
    background: $_reset-form-background-color;
    border-radius: 3px;
    border: $_reset-form-border;
    transition: border .66s ease;

    &:focus,
    &:hover {
        border-color: $_reset-form-border-color-focus;
    }
}