/**
    COLOR

    Where all color's variables are defined

    We provide you the official color's name, rgb value, and small hint for
    where the color is used in Snipcart

    If you prefer rgb notation, just switch inside each variable
    For example, $white: rgb(255, 255, 255)
*/

/*------------------------------------*\
    BASE
\*------------------------------------*/

// 255, 255, 255
$base--primary: #fff;


/*------------------------------------*\
    GRAY / GREY
\*------------------------------------*/

// rgb: 17, 17, 17
$cod-grey: #111;

// rgb: 34, 34, 34
$mine-shaft: #222;

// rgb: 51, 51, 51
$mine-shaft--lighter: #333;

// rgb: 85, 85, 85
$emperor: #555;

// rgb: 153, 153, 153
$dusty-gray: #999;

// rgb: 187, 187, 187
$silver: #bbb;

// rgb: 204, 204, 204
$silver--lighter: #ccc;

// rgb: 238, 238, 238
$gallery: #eee;

// rgb: 248, 248, 248
$alabaster: #f8f8f8;


/*------------------------------------*\
    YELLOW
\*------------------------------------*/

// rgb: 239, 231, 120
$manz: #efe778;


/*------------------------------------*\
    GREEN
\*------------------------------------*/

// rgb: 118, 212, 67
$atlantis: #76d443;


/*------------------------------------*\
    RED
\*------------------------------------*/

// rgb: 255, 17, 0
$red: #f10;