/**
    CUSTOM FONT FAMILY

    We don't want to load many fonts on your site so we stay classic.
    You can add your custom fonts here and/or define your own fonts family variables.
*/
$font-base: Arial, sans-serif;


/**
    ICONS FONT
*/
@font-face {
    font-family: "Snipcart";
    src: url('fonts/snipcart/Snipcart.woff') format("woff"),
         url('fonts/snipcart/Snipcart.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}


/**
    FONT HELPERS

    If you use custom fonts and you don't want browser side weighted/italic fonts:
    - remove font-weight (or add font-weight: normal for example)
    - add your font-family. Ex: font-family: 'myFont-bold';
*/
@mixin font-bold {
    font-weight: 700;
}


/**
    FONT SIZES
*/
$font-size--xsmall: 10px;
$font-size--small: 12px;
$font-size--smaller: 14px;

$font-size--larger: 18px;
$font-size--large: 20px;
$font-size--xlarge: 30px;