/**
    ACTION
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_action-pad: 20px;

/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-actions {
    padding: $_action-pad;
    border-top: 1px solid #eeeeee;

    @include clearfix;
}