/**
    ACTION

    Container for action step buttons

    [1]. Clear floating buttons
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_action-pad: 20px;
$_action-border: 1px solid $gallery;


/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-actions {
    border-top: $_action-border;
    padding: $padding-small;

    // [1]
    @include clearfix;

    @media #{$mq-medium} {
        padding: $_action-pad;
    }
}