/**
    ACTION
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_action-pad: 20px;
$_action-border: 1px solid $gallery;

/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-actions {
    padding: $_action-pad;
    border-top: $_action-border;

    @include clearfix;
}