/**
    BUTTON

    [1]. Classic gray button
    [2]. Smaller button for tooltip
    [3]. Next or validate yellow action button
    [4]. Position classes: right, left, full size button
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_btn-size: 36px;

$_btn-font-size: 12px;

$_btn-color--highlight: $mine-shaft;

$_btn-background: $emperor;
$_btn-background--highlight: $manz;


/*------------------------------------*\
    STYLE
\*------------------------------------*/

// [1]
.snip-btn {
    @include font-bold;
    background-color: $_btn-background;
    border-radius: 3px;
    border: 0;
    color: $base--primary;
    cursor: pointer;
    display: inline-block;
    font-size: $_btn-font-size / 1.2;
    height: $_btn-size;
    line-height: $_btn-size;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    text-transform: uppercase;

    @media #{$mq-medium} {
        font-size: $_btn-font-size;
        padding: 0 2em;
    }
}

// [2]
.snip-btn--small {
    height: auto;
    line-height: normal;
    padding: .417em;
}

// [3]
.snip-btn--highlight {
    background: $_btn-background--highlight;
    color: $_btn-color--highlight;
}

// [4]
.snip-btn--left {
    float: left;
}

.snip-btn--right {
    float: right;
}

.snip-btn--full {
    display: block;
    margin-top: 1em;
    text-align: center;
}