/**
    BUTTON
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/



/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-btn {
    display: inline-block;
    background-color: #666;
    padding: 0 25px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    line-height: 38px;
    height: 38px;
    text-transform: uppercase;
    border-radius: 3px;
    outline: 0;
    border: 0;
}

.snip-btn--highlight {
    background: #efe778;
    color: #1d1f22;
}

.snip-btn--right {
    float: right;
}