/**
    BUTTON

    [1]. Classic gray button
    [2]. Smaller button for tooltip
    [3]. Next or validate yellow action button
    [4]. Position classes: right, left, full size button
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_btn-size: 38px;

$_btn-font-size: 38px;

$_btn-color--highlight: $mine-shaft;

$_btn-background: $emperor;
$_btn-background--highlight: $manz;


/*------------------------------------*\
    STYLE
\*------------------------------------*/

// [1]
.snip-btn {
    display: inline-block;
    background-color: $_btn-background;
    padding: 0 2.083em;
    color: $base--primary;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    line-height: $_btn-size;
    height: $_btn-size;
    text-transform: uppercase;
    border-radius: 3px;
    outline: 0;
    border: 0;
}

// [2]
.snip-btn--small {
    height: auto;
    padding: .417em;
    line-height: normal;
}

// [3]
.snip-btn--highlight {
    background: $_btn-background--highlight;
    color: $_btn-color--highlight;
}

// [4]
.snip-btn--left {
    float: left;
}

.snip-btn--right {
    float: right;
}

.snip-btn--full {
    margin-top: 1em;
    display: block;
    text-align: center;
}