/**
    COLUMNS
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_cols-border: 1px solid $gallery;

/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-cols {
    @include clearfix;
    display: flex;
}

.snip-col {
    width: 33.333333%;
    float: left;
    padding: .25em 1.25em;

    + .snip-col {
        border-left: $_cols-border;
    }
}

.snip-col--right {
    order: 2;
}