/**
    ERROR

    Errors text, except for form fields errors.
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_error-font-size: 14px;

$_error-color: $red;
$_error-text-color: $mine-shaft--lighter;


/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-error {
    padding: 2em 15%;
}

.snip-error__text {
    color: $_error-color;
    font-size: $_error-font-size;
    margin-bottom: 1em;
}

.snip-error__text--centered {
    text-align: center;
}

.snip-error__title {
    @include font-bold;
    color: $_error-text-color;
    margin: 1em 0;
    text-align: center;
    text-transform: uppercase;
}

.snip-error__list {
    font-size: $_error-font-size;
    list-style: disc inside;
    margin: 2em 0;
}

.snip-error__list-item {
    padding: .25em 0;
}

.snip-error__textarea {
    width: 100%;
}

.snip-error__feedback {
    font-size: $_error-font-size;
    text-align: center;
    text-transform: uppercase;
}