/**
    FOOTER

    Footer container and copyright link
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_footer-background: $mine-shaft;

$_footer-color: $emperor;
$_footer-color--highlight: $dusty-gray;

$_footer-height: 35px;

$_footer-font-size: $font-size--xsmall;


/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-footer {
    background: $_footer-background;
    padding: .125em .625em;
    text-transform: uppercase;
}

.snip-footer__copyright {
    background: url('img/lock.png') no-repeat left .3em;
    color: $_footer-color;
    display: inline-block;
    font-size: $_footer-font-size;
    height: $_footer-height;
    line-height: $_footer-height;
    padding-left: 3.2em;
}

.snip-footer__highlight {
    color: $_footer-color--highlight;
}