/**
    FOOTER
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_footer-background: $mine-shaft;

$_footer-color: $emperor;
$_footer-color--highlight: $dusty-gray;

$_footer-height: 35px;

$_footer-font-size: 10px;

/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-footer {
    background: $_footer-background;
    padding: .125em .625em;
    text-transform: uppercase;
}

.snip-footer__copyright {
    background: url('img/lock.png') no-repeat left .3em;
    padding-left: 3.2em;

    font-size: $_footer-font-size;
    height: $_footer-height;
    line-height: $_footer-height;

    color: $_footer-color;
    text-decoration: none;
    display: block;
}

.snip-footer__highlight {
    color: $_footer-color--highlight;
}