/**
    FORM
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_form-label-color: $dusty-gray;

$_form-font-size--small: 12px;
$_form-font-size--smaller: 14px;

$_form-color--highlight: $mine-shaft--lighter;

$_form-border: 1px solid $gallery;

$_form-error-color: $base--primary;
$_form-error-background: $red;

/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-form--small {
    padding: 2em 15%;
    text-align: center;
}

.snip-form--right {
    float: right;
    margin-right: 1em;
}

.snip-form__container {
    clear: left;

    + .snip-form__container {
        margin-top: 1em;
    }
}

.snip-form__label {
    color: $_form-label-color;
    font-size: $_form-font-size--small;
    text-transform: uppercase;
    display: block;
    overflow: hidden;
    margin: 0 0 .5em 0;
}

.snip-form__description {
    margin: 1em 0;
}

.snip-form__help {
    float: right;
    color: $_form-color--highlight;
    font-size: $_form-font-size--small;
    font-weight: bold;
}

.snip-form__field--big {
    display: block;
    padding: .571em .429em;
    font-size: $_form-font-size--smaller;
    color: $_form-color--highlight;
    background: $base--primary;
    border-radius: 3px;
    border: $_form-border;
}

.snip-form__select--small {
    width: 49%;
    float: left;

    ~ .snip-form__select--small {
        margin-left: 2%;
    }
}

.snip-form__error {
    color: $_form-error-color;
    text-align: center;
    background: $_form-error-background;
    padding: .357em;
    border-radius: 3px;
    font-size: $_form-font-size--smaller;
}