/**
    FORM

    Form elements, except for basic input and select styling (check _reset.scss).
    Also form fields errors.
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_form-label-color: $dusty-gray;

$_form-font-size--small: 12px;
$_form-font-size--smaller: 14px;

$_form-color--highlight: $mine-shaft--lighter;

$_form-border: 1px solid $gallery;

$_form-error-color: $base--primary;
$_form-error-background: $red;


/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-form--small {
    padding: 2em 15%;
    text-align: center;
}

.snip-form--discount {
    float: right;
    margin-right: .5em;
    max-width: 50%;

    @media #{$mq-medium} {
        margin-right: 1em;
        max-width: none;
    }
}

.snip-form__container {
    @include clearfix;
    clear: left;

    + .snip-form__container {
        margin-top: 1em;
    }
}

.snip-form__label {
    color: $_form-label-color;
    display: block;
    font-size: $_form-font-size--small;
    margin: 0 0 .5em 0;
    overflow: hidden;
    text-transform: uppercase;
}

.snip-form__description {
    margin: 1em 0;
}

.snip-form__help {
    @include font-bold;
    color: $_form-color--highlight;
    float: right;
    font-size: $_form-font-size--small;
}

.snip-form__select--small {
    float: left;
    width: 49%;

    ~ .snip-form__select--small {
        margin-left: 2%;
    }
}

.snip-form__error {
    background: $_form-error-background;
    border-radius: 3px;
    color: $_form-error-color;
    font-size: $_form-font-size--smaller;
    padding: .357em;
    text-align: center;
}