/**
    HEADER
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_header-background: $mine-shaft;
$_header-background--highlight: $cod-grey;

$_header-height: 105px;
$_header-total-height: 38px;

$_header-color: $base--primary;
$_header-label-color: $dusty-gray;

$_header-font-size--small: 14px;
$_header-font-size--large: 30px;

/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-header {
    position: relative;
    background: $_header-background;
    text-align: center;
    height: $_header-height;
    color: $_header-color;
    text-transform: uppercase;
    font-weight: bold;
}

.snip-header__user {
    background: $_header-background--highlight;
    padding: .714em 1.429em;
    text-align: center;
    font-size: $_header-font-size--small;
}

.snip-header__user-mail {
    color: $_header-color;
}

.snip-header__title {
    position: absolute;
    left: 1.25em;
    text-align: left;
    font-size: $_header-font-size--large;
    line-height: $_header-height;
}

.snip-header__total {
    display: inline-block;
    height: $_header-total-height;
    line-height: $_header-total-height;
    background: $_header-background--highlight;
    border-radius: 5px;
    padding: 0 .625em;
    margin-top: 2.188em;
}

.snip-header__total-label {
    color: $_header-label-color;
    margin-right: .625em;
}

.snip-header__continue {
    margin-top: -1.188em;
    position: absolute;
    top: 50%;
    right: 1.25em;
}