/**
    HEADER
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/



/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-header {
    position: relative;
    background: rgba(30, 31, 33, 1);
    text-align: center;
    height: 105px;
    padding: 0;
    color: $base--primary;
    text-transform: uppercase;
    font-weight: bold;
}

.snip-header__title {
    float: left;
    height: 95px;
    position: absolute;
    left: 20px;
    display: block;
    text-align: left;
    font-size: 30px;
    line-height: 105px;
    padding-left: 25px;
    width: auto;
    top: 0;
    min-width: 300px;
}

.snip-header__total {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    background: rgb(11,11,11);
    position: relative;
    border-radius: 5px;
    margin-top: 35px;
    margin-left: 20px;
}

.snip-header__total-label {
    color: #898989;
    margin-left: 10px;
    white-space: nowrap;
}

.snip-header__total-amount {
    margin: 0 10px;
}