/**
    LAYOUT
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_layout-background: $base--primary;

$_layout-border: 1px solid $gallery;

$_layout-close-color: $base--primary;
$_layout-close-font-size: 1.5em;

$_layout-loading-color: $mine-shaft--lighter;

$_layout-content-background: $alabaster;
$_layout-content-border: 1px solid $silver;

/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-layout__main-container {
    position: relative;
    max-width: 62.25em;
    margin: 0 auto;
    z-index: 15000;
    background: $_layout-background;
}

.snip-layout__close {
    text-decoration: none;
    z-index: 10000;
    position: absolute;
    padding: .333em;
    top: .208em;
    right: .417em;
    padding: 0;
    color: $_layout-close-color;
    font-size: $_layout-close-font-size;
}

.snip-layout__close-label {
    position: absolute;
    text-indent: -100000px;
}

.snip-layout__loading {

    &:before {
        content: "";
        background: url(img/ajax-loader.gif) no-repeat center center;
        display: block;
        height: 160px;
    }

    padding-bottom: 30px;
    text-transform: uppercase;
    color: $_layout-loading-color;
    font-weight: bold;
    text-align: center;
}

.snip-layout__content {
    padding: 2em 0;
}

.snip-layout__content--highlight {
    border-top: $_layout-content-border;
    border-bottom: $_layout-content-border;
    background-color: $_layout-content-background;
    padding: 1em 0;
}

.snip-layout__content--bordered {
    border-bottom: $_layout-border;
}