/**
    LAYOUT
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/



/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-layout__main-container {
    position: relative;
    max-width: 62.25em;
    margin: 0 auto;
    z-index: 15000;
    background: white;
}

.snip-layout__close {
    text-decoration: none;
    z-index: 10000;
    position: absolute;
    padding: 8px;
    top: 10px;
    right: 10px;
    padding: 0;
    color: $base--primary;
    font-size: 1.5em;
}

.snip-layout__close-label {
    position: absolute;
    text-indent: -100000px;
}

.snip-layout__loading {

    &:before {
        content: "";
        background: url(img/ajax-loader.gif) no-repeat center center;
        display: block;
        height: 160px;
    }

    padding-bottom: 30px;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    text-align: center;
}