/**
    LOADER

    Loader element for product modifications
    
    [1]. Do not remove ".js-active" class.
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_loader-size: 20px;


/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-loader {
    // [1]
    &.js-active {
        background-image: url(img/ajax-loader.gif);
        background-repeat: no-repeat;
        background-position: center center;
    }
    
}

.snip-loader--table {
    // [1]
    &.js-active {
        background-size: $_loader-size $_loader-size;
        width: $_loader-size;
        height: $_loader-size;
    }
}