/**
    LOADER
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_loader-size: 20px;

/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-loader {

    &.js-active {
        background-image: url(img/ajax-loader.gif);
        background-repeat: no-repeat;
        background-position: center center;
    }
    
}

.snip-loader--table {

    &.js-active {
        background-size: $_loader-size $_loader-size;
        width: $_loader-size;
        height: $_loader-size;
    }
}