/**
    PRODUCT
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/



/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-product__thumbnail {
    width: 65px;
    height: 65px;
    float: left;
    margin-right: 10px;

    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.snip-product__name {
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: .5em;
    overflow: hidden;
}

.snip-product__description {
    font-size: 12px;
    overflow: hidden;
}

.snip-product__remove {
    float: left;
    font-size: 26px;
    margin: -4px 5px 0 0;
    color: red;
    text-decoration: none;
}

.snip-product__customfields {
    max-width: 200px;
}

.snip-product__customfields-checkbox {
    float: left;
    margin: 0 .5em .75em 0;
}

.snip-product__empty {
    font-size: 18px;
    text-transform: uppercase;
    padding: 1em 2em;
    text-align: center;
}