/**
    PRODUCT
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_product-font-size--base: 14px;
$_product-font-size--large: 20px;
$_product-font-size--icon: 30px;

$_product-background: $alabaster;
$_product-border: 1px solid $gallery;

$_product-color--highlight: $mine-shaft--lighter;
$_product-color--error: $red;

$_product-thumbnail-size: 65px;

$_product-customfield-size: 200px;

/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-product {
    @include clearfix;
    background: $_product-background;
    padding: 2em 1.25em;
    border-top: $_product-border;
    font-size: $_product-font-size--base;
}

.snip-product--selectable {
    cursor: pointer;
}

.snip-product--selectable-item {
    padding-left: 2.286em;
    background: url("img/checkbox.png") no-repeat 0 center;

    &.js-selected {
        background-image: url("img/selected.png");
    }
}

.snip-product__thumbnail {
    width: $_product-thumbnail-size;
    height: $_product-thumbnail-size;
    float: left;
    margin-right: .714em;

    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.snip-product__name {
    color: $_product-color--highlight;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
}

.snip-product__description {
    font-size: $_product-font-size--base;
    overflow: hidden;
    margin-top: .5em;
}

.snip-product__important {
    font-weight: bold;
}

.snip-product__remove {
    float: left;
    font-size: $_product-font-size--icon;
    margin: -.154em .192em 0 0;
    color: $_product-color--error;
    text-decoration: none;
}

.snip-product__customfields {
    max-width: $_product-customfield-size;
}

.snip-product__customfields-checkbox {
    float: left;
    margin: 0 .5em .75em 0;
}

.snip-product__empty {
    font-size: $_product-font-size--large;
    text-transform: uppercase;
    padding: 1em 2em;
    text-align: center;
}