/**
    QUANTITY TRIGGER

    Component to modify product quantity in the cart

    [1]. We use flexbox here since overall browser support is about 95% worldwide.
    [2]. Also, as fallback, we 'float' the columns. If your browser doesn't support flexbox, columns will be
         properly positionned even if the columns won't have the same height (graceful degradation).
    [3]. You can choose your own symbol (or even custom icon font) for add and remove product.
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_qt-color: $cod-grey;

$_qt-background: $silver--lighter;
$_qt-background--hover: $manz;

$_qt-font-size--large: 18px;


/*------------------------------------*\
    STYLE
\*------------------------------------*/

// [1]
.snip-quantity-trigger {
    color: $_qt-color;
    font-weight: bold;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.snip-quantity-trigger__text {
    // [2]
    float: left;
    padding: 0 .313em;
}

.snip-quantity-trigger__btn {
    font-size: $_qt-font-size--large;
    border-radius: 30px;
    background-color: $_qt-background;
    color: inherit;
    text-decoration: none;
    height: 1em;
    width: 1em;
    font-weight: 400;
    
    // [2]
    float: left;

    &:hover {
        background-color: $_qt-background--hover;
    }

    &:before {
        display: block;
        height: 1em;
        width: 1em;
    }
}

.snip-quantity-trigger__btn--add {
    &:before {
        // [3]
        content: "+";
        line-height: 1em;
    }
}

.snip-quantity-trigger__btn--minus {
    &:before {
        // [3]
        content: "-";
        line-height: 14px;
    }
}