/**
    TABLE

    [1]. Special jedi's mind trick, thanks to inheritance, we only style tbody or thead elements.
         Since we can't define `padding` or `border` for tbody, thead, tr elements, it's easier.
         And for mobile block table behavior, style is already set for those elements. 
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_table-font-size--small: .714em;
$_table-font-size--base: .875em;
$_table-font-size--large: 1.286em;

$_table-border: 1px solid $gallery;

$_table-color--highlight: $mine-shaft--lighter;
$_table-color--success: $atlantis;

$_table-background--highlight: $alabaster;


/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-table {
    width: 100%;
    text-align: left;
    font-size: $_table-font-size--base;

    /* [1] */
    td, th, tr {
        padding: inherit;
        border: inherit;

        &:empty {
            width: 0;
            padding: 0;
        }
    }
}

.snip-table__header {
    text-transform: uppercase;
    font-size: $_table-font-size--small;
    padding: 1em 2em;
    
    ~ .snip-table__header {
        border-top: $_table-border;
    }
}

.snip-table__body {
    padding: 1.429em;
    border-top: $_table-border;
}

.snip-table__body--small {
    padding: .429em 1.429em .429em 2.857em;
    background: $_table-background--highlight;
}

.snip-table__body--big {
    font-size: $_table-font-size--large;
    padding: 1.222em 1.111em 1.222em 1.222em;
}

.snip-table__cell--center {
    text-align: center;
}

.snip-table__cell--right {
    text-align: right;
}

.snip-table__cell--bold {
    font-weight: bold;
}

.snip-table__cell--highlight {
    font-weight: bold;
    color: $_table-color--highlight;
}

.snip-table__cell--success {
    font-weight: bold;
    color: $_table-color--success;
}