/**
    TOOLTIP
*/

/*------------------------------------*\
    LOCAL VARIABLES
\*------------------------------------*/

$_tooltip-padding: 10px 20px;

$_tooltip-background: $silver--lighter;
$_tooltip-border-color: $silver--lighter transparent;
$_tooltip-label-color: $emperor;
$_tooltip-text-color: $cod-grey;

$_tooltip-text-closed: "?";
$_tooltip-text-opened: "-";

/*------------------------------------*\
    STYLE
\*------------------------------------*/

.snip-tooltip {
    padding: $_tooltip-padding;
    border-radius: 3px;
    position: absolute;
    background-color: $_tooltip-background;
    bottom: 100%;
    right: 0;
    text-align: center;
    display: none;
    margin-bottom: 15px;

    &:after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 15px 15px 0;
        border-style: solid;
        border-color: $_tooltip-border-color;
        display: block;
        width: 0;
    }
}

.snip-tooltip__toggle {
    &:before {
        content: $_tooltip-text-closed;
        display: block;
        width: 1.5em;
        text-align: center;
    }

    &.js-active {
        &:before {
            content: $_tooltip-text-opened;
        }
    }
}

.snip-tooltip__container {
    position: relative;
}

.snip-tooltip__list {
    color: $_tooltip-label-color;
}

.snip-tooltip__item {
    color: $_tooltip-text-color;
    font-weight: bold;
    margin-bottom: 5px;
}