/**
    SNIPCART V2

    We strongly use BEM methodology
    Every rule must be written within .snip-layout class
    Every class name must be prefix with "snip-"

    IMPORTANT you have to include snipcart's stylesheet AFTER all your stylesheets
*/
/**
    MIXINS

    [1]. Used to clear floating elements within a container
**/
/* [1] */
/**
    CUSTOM FONT FAMILY

    We don't want to load many fonts on your site so we stay classic.
    You can add your custom fonts here and/or define your own fonts family variables.
*/
/**
    ICONS FONT
*/
@font-face {
  font-family: 'Snipcart';
  src: url("fonts/snipcart/Snipcart.eot");
  src: url("fonts/snipcart/Snipcart.eot?#iefix") format("embedded-opentype"), url("fonts/snipcart/Snipcart.woff") format("woff"), url("fonts/snipcart/Snipcart.ttf") format("truetype"), url("fonts/snipcart/Snipcart.svg#Snipcart") format("svg");
  font-weight: normal;
  font-style: normal; }

/**
    FONT HELPERS

    If you use custom fonts and you don't want browser side weighted/italic fonts:
    - remove font-weight (or add font-weight: normal for example)
    - add your font-family. Ex: font-family: 'myFont-bold';
*/
/**
    FONT SIZES
*/
/*------------------------------------*    SMALL
\*------------------------------------*/
/*------------------------------------*    MEDIUM
\*------------------------------------*/
/*------------------------------------*    NORMAL
\*------------------------------------*/
/*------------------------------------*    LARGE
\*------------------------------------*/
/**
    MEDIA QUERIES

    Where all media queries' variables are defined
*/
/**
    COLOR

    Where all color's variables are defined

    We provide you the official color's name, rgb value, and small hint for
    where the color is used in Snipcart

    If you prefer rgb notation, just switch inside each variable
    For example, $white: rgb(255, 255, 255)
*/
/*------------------------------------*    BASE
\*------------------------------------*/
/*------------------------------------*    GREEN
\*------------------------------------*/
/*------------------------------------*    REDS
\*------------------------------------*/
/*------------------------------------*    YELLOWS
\*------------------------------------*/
/*------------------------------------*    GREYS
\*------------------------------------*/
.snip-layout {
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.2) 0%, black 100%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2) 0%, black 100%);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  overflow-x: auto;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: normal;
  color: #999 !important;
  padding: 1.5em 0;
  /**
    ICON

    We use icons font. You can use them with css pseudo elements.
    You can also use your own icon set. There's many online services to generate your iconfont (fontello, glyphter, icomoon, ...).
*/
  /*------------------------------------*    GLOBAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    RESET

    We reset to default value for each elements used in snipcart.
    Your style must not impact our style.
*/
  /**
    LAYOUT
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    HEADER
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    FOOTER
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    ACTION
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    BUTTON
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    TABLE

    [1]. Special jedi's mind trick, thanks to inheritance, we only style tbody or thead elements.
         Since we can't define `padding` or `border` for tbody, thead, tr elements, it's easier.
         And for mobile block table behavior, style is already set for those elements. 
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    PRODUCT
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    QUANTITY TRIGGER
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    LOADER
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    FORM
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    STEP
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    COLUMNS
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    ERROR
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    STATIC
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    TOOLTIP
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/ }
  .snip-layout .snip-ico {
    font-family: "Snipcart";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased; }
  .snip-layout .snip-ico--credit-cart:before {
    content: "f"; }
  .snip-layout .snip-ico--truck:before {
    content: "e"; }
  .snip-layout .snip-ico--letter:before {
    content: "d"; }
  .snip-layout .snip-ico--receipt:before {
    content: "c"; }
  .snip-layout .snip-ico--checklist:before {
    content: "b"; }
  .snip-layout .snip-ico--basket:before {
    content: "a"; }
  .snip-layout .snip-ico--check:before {
    content: "g"; }
  .snip-layout .snip-ico--close:before {
    content: "h"; }
  .snip-layout div,
  .snip-layout span,
  .snip-layout h1,
  .snip-layout h2,
  .snip-layout h3,
  .snip-layout h4,
  .snip-layout p,
  .snip-layout a,
  .snip-layout em,
  .snip-layout img,
  .snip-layout small,
  .snip-layout strong,
  .snip-layout ol,
  .snip-layout ul,
  .snip-layout li,
  .snip-layout fieldset,
  .snip-layout form,
  .snip-layout label,
  .snip-layout legend,
  .snip-layout table,
  .snip-layout caption,
  .snip-layout tbody,
  .snip-layout tfoot,
  .snip-layout thead,
  .snip-layout tr,
  .snip-layout th,
  .snip-layout td,
  .snip-layout dl,
  .snip-layout dt,
  .snip-layout dd {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    line-height: inherit;
    box-sizing: border-box; }
  .snip-layout table {
    border-collapse: collapse;
    border-spacing: 0; }
  .snip-layout th,
  .snip-layout td {
    vertical-align: middle; }
  .snip-layout ol,
  .snip-layout ul {
    list-style: none; }
  .snip-layout input:focus,
  .snip-layout input:hover,
  .snip-layout select:focus,
  .snip-layout select:hover {
    outline: none;
    box-shadow: none; }
  .snip-layout input[type=text],
  .snip-layout input[type=password],
  .snip-layout select {
    height: auto;
    line-height: 18px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 8px 6px;
    margin: 0;
    font-size: 14px;
    color: #555;
    background: white;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    -webkit-transition: border 0.66s ease;
    transition: border 0.66s ease; }
    .snip-layout input[type=text]:focus,
    .snip-layout input[type=text]:hover,
    .snip-layout input[type=password]:focus,
    .snip-layout input[type=password]:hover,
    .snip-layout select:focus,
    .snip-layout select:hover {
      border-color: #333; }
  .snip-layout .snip-layout__main-container {
    position: relative;
    max-width: 62.25em;
    margin: 0 auto;
    z-index: 15000;
    background: white; }
  .snip-layout .snip-layout__close {
    text-decoration: none;
    z-index: 10000;
    position: absolute;
    padding: 8px;
    top: 10px;
    right: 10px;
    padding: 0;
    color: #fff;
    font-size: 1.5em; }
  .snip-layout .snip-layout__close-label {
    position: absolute;
    text-indent: -100000px; }
  .snip-layout .snip-layout__loading {
    padding-bottom: 30px;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    text-align: center; }
    .snip-layout .snip-layout__loading:before {
      content: "";
      background: url(img/ajax-loader.gif) no-repeat center center;
      display: block;
      height: 160px; }
  .snip-layout .snip-layout__content {
    padding: 2em 0; }
  .snip-layout .snip-layout__content--highlight {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    background-color: #f8f8f8;
    padding: 1em 0; }
  .snip-layout .snip-layout__content--bordered {
    border-bottom: 1px solid #eeeeee; }
  .snip-layout .snip-header {
    position: relative;
    background: #1e1f21;
    text-align: center;
    height: 105px;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold; }
  .snip-layout .snip-header__title {
    float: left;
    height: 95px;
    position: absolute;
    left: 20px;
    display: block;
    text-align: left;
    font-size: 30px;
    line-height: 105px;
    padding-left: 25px;
    width: auto;
    top: 0;
    min-width: 300px; }
  .snip-layout .snip-header__total {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    background: #0b0b0b;
    position: relative;
    border-radius: 5px;
    margin-top: 35px;
    margin-left: 20px; }
  .snip-layout .snip-header__total-label {
    color: #898989;
    margin-left: 10px;
    white-space: nowrap; }
  .snip-layout .snip-header__total-amount {
    margin: 0 10px; }
  .snip-layout .snip-footer {
    background: #1e1f21;
    padding: 2px 10px;
    text-transform: uppercase; }
  .snip-layout .snip-footer__copyright {
    background: url("img/lock.png") no-repeat left 3px;
    padding-left: 30px;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: #545557;
    text-decoration: none;
    display: block; }
  .snip-layout .snip-footer__highlight {
    color: #a5a5a5; }
  .snip-layout .snip-actions {
    padding: 20px;
    border-top: 1px solid #eeeeee; }
    .snip-layout .snip-actions::after {
      clear: both;
      content: "";
      display: table; }
  .snip-layout .snip-btn {
    display: inline-block;
    background-color: #666;
    padding: 0 25px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    line-height: 38px;
    height: 38px;
    text-transform: uppercase;
    border-radius: 3px;
    outline: 0;
    border: 0; }
  .snip-layout .snip-btn--small {
    height: auto;
    padding: 5px;
    line-height: normal; }
  .snip-layout .snip-btn--highlight {
    background: #efe778;
    color: #1d1f22; }
  .snip-layout .snip-btn--left {
    float: left; }
  .snip-layout .snip-btn--right {
    float: right; }
  .snip-layout .snip-btn--full {
    margin-top: 1em;
    display: block;
    text-align: center; }
  .snip-layout .snip-table {
    width: 100%;
    text-align: left;
    font-size: 14px;
    /* [1] */ }
    .snip-layout .snip-table td, .snip-layout .snip-table th, .snip-layout .snip-table tr {
      padding: inherit;
      border: inherit; }
      .snip-layout .snip-table td:empty, .snip-layout .snip-table th:empty, .snip-layout .snip-table tr:empty {
        width: 0;
        padding: 0; }
  .snip-layout .snip-table__header {
    text-transform: uppercase;
    font-size: 11px;
    padding: 10px 20px; }
    .snip-layout .snip-table__header ~ .snip-table__header {
      border-top: 1px solid #eee; }
  .snip-layout .snip-table__body {
    padding: 20px;
    border-top: 1px solid #eee; }
  .snip-layout .snip-table__body--small {
    padding: 6px 20px 6px 40px;
    background: #f8f8f8; }
  .snip-layout .snip-table__body--big {
    font-size: 18px;
    padding: 22px 20px 22px 22px; }
  .snip-layout .snip-table__cell--center {
    text-align: center; }
  .snip-layout .snip-table__cell--right {
    text-align: right; }
  .snip-layout .snip-table__cell--bold {
    font-weight: bold; }
  .snip-layout .snip-table__cell--highlight {
    font-weight: bold;
    color: #333; }
  .snip-layout .snip-table__cell--success {
    font-weight: bold;
    color: #76d443; }
  .snip-layout .snip-product {
    background: #fafafa;
    padding: 2em 1.25em;
    border-top: 1px solid #eee; }
    .snip-layout .snip-product::after {
      clear: both;
      content: "";
      display: table; }
  .snip-layout .snip-product--selectable {
    cursor: pointer; }
  .snip-layout .snip-product--selectable-item {
    padding-left: 32px;
    background: url("img/checkbox.png") no-repeat 0 center; }
    .snip-layout .snip-product--selectable-item.js-selected {
      background-image: url("img/selected.png"); }
  .snip-layout .snip-product__thumbnail {
    width: 65px;
    height: 65px;
    float: left;
    margin-right: 10px; }
    .snip-layout .snip-product__thumbnail img {
      max-height: 100%;
      max-width: 100%; }
  .snip-layout .snip-product__name {
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden; }
  .snip-layout .snip-product__description {
    font-size: 12px;
    overflow: hidden;
    margin-top: .5em; }
  .snip-layout .snip-product__important {
    font-weight: bold; }
  .snip-layout .snip-product__remove {
    float: left;
    font-size: 26px;
    margin: -4px 5px 0 0;
    color: red;
    text-decoration: none; }
  .snip-layout .snip-product__customfields {
    max-width: 200px; }
  .snip-layout .snip-product__customfields-checkbox {
    float: left;
    margin: 0 0.5em 0.75em 0; }
  .snip-layout .snip-product__empty {
    font-size: 18px;
    text-transform: uppercase;
    padding: 1em 2em;
    text-align: center; }
  .snip-layout .snip-quantity-trigger {
    color: #333333;
    font-weight: bold;
    margin: 0 auto;
    display: table; }
  .snip-layout .snip-quantity-trigger__text {
    display: table-cell;
    padding: 0 5px; }
  .snip-layout .snip-quantity-trigger__btn {
    font-size: 18px;
    border-radius: 30px;
    background-color: #e8e8e8;
    color: #1c1e21;
    text-align: center;
    text-decoration: none;
    height: 1em;
    width: 1em;
    line-height: 1em;
    font-weight: 400;
    display: table-cell; }
    .snip-layout .snip-quantity-trigger__btn:hover {
      background-color: #efe778; }
  .snip-layout .snip-quantity-trigger__btn--minus {
    line-height: 14px; }
  .snip-layout .snip-loader.js-active {
    background-image: url(img/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center center; }
  .snip-layout .snip-loader--table.js-active {
    background-size: 20px 20px;
    width: 20px;
    height: 20px; }
  .snip-layout .snip-form--small {
    padding: 2em 15%;
    text-align: center; }
  .snip-layout .snip-form--right {
    float: right;
    margin-right: 1em; }
  .snip-layout .snip-form__container {
    clear: left; }
    .snip-layout .snip-form__container + .snip-form__container {
      margin-top: 1em; }
  .snip-layout .snip-form__label {
    color: #666;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    overflow: hidden;
    margin: 0 0 0.5em 0; }
  .snip-layout .snip-form__description {
    margin: 1em 0; }
  .snip-layout .snip-form__help {
    float: right;
    color: #333;
    font-size: 12px;
    font-weight: bold; }
  .snip-layout .snip-form__field--big {
    display: block;
    padding: 8px 6px;
    font-size: 14px;
    color: #555;
    background: white;
    border-radius: 3px;
    border: 1px solid #e5e5e5; }
  .snip-layout .snip-form__select--small {
    width: 49%;
    float: left; }
    .snip-layout .snip-form__select--small ~ .snip-form__select--small {
      margin-left: 2%; }
  .snip-layout .snip-form__error {
    color: #fff;
    text-align: center;
    background: red;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px; }
  .snip-layout .snip-steps {
    clear: both;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    height: 60px;
    background: #ccc; }
  .snip-layout .snip-step__item {
    display: table;
    height: inherit;
    float: left;
    border-bottom: 1px solid #bbb;
    background: #ccc;
    cursor: pointer;
    width: 14.285714%;
    color: #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .snip-layout .snip-step__item + .snip-step__item {
      border-left: 1px solid #bbb; }
    .snip-layout .snip-step__item.active {
      color: #333;
      border-bottom-color: #fff;
      background: #fff; }
  .snip-layout .snip-step__nb {
    text-align: center;
    padding: 0 0.25em;
    font-size: 38px;
    display: table-cell;
    vertical-align: middle; }
  .snip-layout .snip-step__label {
    padding: 0 2px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 16px;
    font-size: 10px;
    line-height: 16px;
    text-align: left;
    margin: 13px 0 0 3px;
    overflow: hidden;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    width: 66.666666%; }
  .snip-layout .snip-cols {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .snip-layout .snip-cols::after {
      clear: both;
      content: "";
      display: table; }
  .snip-layout .snip-col {
    width: 33.333333%;
    float: left;
    padding: 0.25em 1.25em; }
    .snip-layout .snip-col + .snip-col {
      border-left: 1px solid #f1f1f2; }
  .snip-layout .snip-col--right {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; }
  .snip-layout .snip-error {
    padding: 2em 15%; }
  .snip-layout .snip-error__text {
    color: red;
    font-size: 14px;
    margin-bottom: 1em; }
  .snip-layout .snip-error__title {
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    text-align: center;
    margin: 1em 0; }
  .snip-layout .snip-error__list {
    list-style: disc inside;
    margin: 2em 0;
    font-size: 14px; }
  .snip-layout .snip-error__list-item {
    padding: .25em 0; }
  .snip-layout .snip-error__textarea {
    width: 100%; }
  .snip-layout .snip-error__feedback {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px; }
  .snip-layout .snip-static {
    background: #fafafa;
    padding: 1em 15%;
    border-top: 1px solid #eee;
    font-size: 14px;
    text-align: center; }
  .snip-layout .snip-static__title {
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    font-size: 1em; }
  .snip-layout .snip-static__title--main {
    margin: 0.5em 20px 1em; }
  .snip-layout .snip-static__content {
    line-height: 1.6;
    font-size: 12px;
    margin-top: 1em; }
  .snip-layout .snip-static__item {
    max-width: 100%; }
    .snip-layout .snip-static__item ~ .snip-static__item {
      margin-top: 1.5em; }
  .snip-layout .snip-static__link {
    text-decoration: underline;
    color: #999;
    display: inline-block;
    margin-top: .25em; }
    .snip-layout .snip-static__link:hover {
      color: #333; }
  .snip-layout .snip-tooltip {
    padding: 10px 20px;
    border-radius: 3px;
    text-align: center;
    position: absolute;
    background-color: #ccc;
    bottom: 100%;
    right: 0;
    text-align: center;
    display: none;
    margin-bottom: 15px; }
    .snip-layout .snip-tooltip:after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      border-width: 15px 15px 0;
      border-style: solid;
      border-color: #ccc transparent;
      display: block;
      width: 0; }
  .snip-layout .snip-tooltip__toggle:before {
    content: "?";
    display: block;
    width: 1.5em;
    text-align: center; }
  .snip-layout .snip-tooltip__toggle.js-active:before {
    content: "-"; }
  .snip-layout .snip-tooltip__container {
    position: relative; }
  .snip-layout .snip-tooltip__list {
    color: #666; }
  .snip-layout .snip-tooltip__item {
    color: #333;
    font-weight: bold;
    margin-bottom: 5px; }
