/**
    SNIPCART V2

    We strongly use BEM methodology
    Every rule must be written within .snip-layout class
    Every class name must be prefix with "snip-"
*/
/**
    Used to clear floating elements within a container
**/
/**
    CUSTOM FONT FAMILY

    We don't want to load many fonts on your site so we stay classic.
    You can add your custom fonts here and/or define your own fonts family variables.
*/
/**
    ICONS FONT
*/
@font-face {
  font-family: 'Snipcart';
  src: url("fonts/snipcart/Snipcart.eot");
  src: url("fonts/snipcart/Snipcart.eot?#iefix") format("embedded-opentype"), url("fonts/snipcart/Snipcart.woff") format("woff"), url("fonts/snipcart/Snipcart.ttf") format("truetype"), url("fonts/snipcart/Snipcart.svg#Snipcart") format("svg");
  font-weight: normal;
  font-style: normal; }

/**
    FONT HELPERS

    If you use custom fonts and you don't want browser side weighted/italic fonts:
    - remove font-weight (or add font-weight: normal for example)
    - add your font-family. Ex: font-family: 'myFont-bold';
*/
/**
    FONT SIZES
*/
/*------------------------------------*    SMALL
\*------------------------------------*/
/*------------------------------------*    MEDIUM
\*------------------------------------*/
/*------------------------------------*    NORMAL
\*------------------------------------*/
/*------------------------------------*    LARGE
\*------------------------------------*/
/**
    MEDIA QUERIES

    Where all media queries' variables are defined
*/
/**
    COLOR

    Where all color's variables are defined

    We provide you the official color's name, rgb value, and small hint for
    where the color is used in Snipcart

    If you prefer rgb notation, just switch inside each variable
    For example, $white: rgb(255, 255, 255)
*/
/*------------------------------------*    BASE
\*------------------------------------*/
/*------------------------------------*    GREEN
\*------------------------------------*/
/*------------------------------------*    REDS
\*------------------------------------*/
/*------------------------------------*    YELLOWS
\*------------------------------------*/
/*------------------------------------*    GREYS
\*------------------------------------*/
.snip-layout {
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.2) 0%, black 100%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2) 0%, black 100%);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  overflow-x: auto;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #a5a5a5 !important;
  padding: 1.5em 0;
  /**
    ICON

    We use icons font. You can use them with css pseudo elements.
    You can also use your own icon set. There's many online services to generate your iconfont (fontello, glyphter, icomoon, ...).
*/
  /*------------------------------------*    GLOBAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    RESET

    We reset to default value for each elements used in snipcart.
    Your style must not impact our style.
*/
  /**
    LAYOUT
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    HEADER
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    FOOTER
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    ACTION
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    BUTTON
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    TABLE
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    PRODUCT
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    QUANTITY TRIGGER
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/
  /**
    LOADER
*/
  /*------------------------------------*    LOCAL VARIABLES
\*------------------------------------*/
  /*------------------------------------*    STYLE
\*------------------------------------*/ }
  .snip-layout .snip-ico {
    font-family: "Snipcart";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased; }
  .snip-layout .snip-ico--credit-cart:before {
    content: "f"; }
  .snip-layout .snip-ico--truck:before {
    content: "e"; }
  .snip-layout .snip-ico--letter:before {
    content: "d"; }
  .snip-layout .snip-ico--receipt:before {
    content: "c"; }
  .snip-layout .snip-ico--checklist:before {
    content: "b"; }
  .snip-layout .snip-ico--basket:before {
    content: "a"; }
  .snip-layout .snip-ico--check:before {
    content: "g"; }
  .snip-layout .snip-ico--close:before {
    content: "h"; }
  .snip-layout div,
  .snip-layout span,
  .snip-layout h1,
  .snip-layout h2,
  .snip-layout h3,
  .snip-layout h4,
  .snip-layout p,
  .snip-layout a,
  .snip-layout em,
  .snip-layout img,
  .snip-layout small,
  .snip-layout strong,
  .snip-layout ol,
  .snip-layout ul,
  .snip-layout li,
  .snip-layout fieldset,
  .snip-layout form,
  .snip-layout label,
  .snip-layout legend,
  .snip-layout table,
  .snip-layout caption,
  .snip-layout tbody,
  .snip-layout tfoot,
  .snip-layout thead,
  .snip-layout tr,
  .snip-layout th,
  .snip-layout td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    line-height: normal;
    box-sizing: content-box; }
  .snip-layout table {
    border-collapse: collapse;
    border-spacing: 0; }
  .snip-layout th,
  .snip-layout td {
    vertical-align: middle; }
  .snip-layout ol,
  .snip-layout ul {
    list-style: none; }
  .snip-layout .snip-layout__main-container {
    position: relative;
    max-width: 62.25em;
    margin: 0 auto;
    z-index: 15000;
    background: white; }
  .snip-layout .snip-layout__close {
    text-decoration: none;
    z-index: 10000;
    position: absolute;
    padding: 8px;
    top: 10px;
    right: 10px;
    padding: 0;
    color: #fff;
    font-size: 1.5em; }
  .snip-layout .snip-layout__close-label {
    position: absolute;
    text-indent: -100000px; }
  .snip-layout .snip-header {
    position: relative;
    background: #1e1f21;
    text-align: center;
    height: 105px;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold; }
  .snip-layout .snip-header__title {
    float: left;
    height: 95px;
    position: absolute;
    left: 20px;
    display: block;
    text-align: left;
    font-size: 30px;
    line-height: 105px;
    padding-left: 25px;
    width: auto;
    top: 0;
    min-width: 300px; }
  .snip-layout .snip-header__total {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    background: #0b0b0b;
    position: relative;
    border-radius: 5px;
    margin-top: 35px;
    margin-left: 20px; }
  .snip-layout .snip-header__total-label {
    color: #898989;
    margin-left: 10px;
    white-space: nowrap; }
  .snip-layout .snip-header__total-amount {
    margin: 0 10px; }
  .snip-layout .snip-footer {
    background: #1e1f21;
    height: 35px;
    padding: 2px 10px;
    text-transform: uppercase; }
  .snip-layout .snip-footer__copyright {
    background: url("img/lock.png") no-repeat left 3px;
    padding-left: 30px;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: #545557;
    text-decoration: none;
    display: block; }
  .snip-layout .snip-footer__highlight {
    color: #a5a5a5; }
  .snip-layout .snip-actions {
    padding: 20px;
    border-top: 1px solid #eeeeee; }
    .snip-layout .snip-actions::after {
      clear: both;
      content: "";
      display: table; }
  .snip-layout .snip-btn {
    display: inline-block;
    background-color: #666;
    padding: 0 25px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    line-height: 38px;
    height: 38px;
    text-transform: uppercase;
    border-radius: 3px; }
  .snip-layout .snip-btn--highlight {
    background: #efe778;
    color: #1d1f22; }
  .snip-layout .snip-btn--right {
    float: right; }
  .snip-layout .snip-table {
    width: 100%;
    text-align: left;
    font-size: 14px; }
    .snip-layout .snip-table td, .snip-layout .snip-table th, .snip-layout .snip-table tr {
      padding: inherit;
      border: inherit; }
  .snip-layout .snip-table__header {
    text-transform: uppercase;
    font-size: 11px;
    padding: 10px 20px;
    border-bottom: 1px solid #eeeeee; }
  .snip-layout .snip-table__body {
    padding: 20px; }
  .snip-layout .snip-table__cell--center {
    text-align: center; }
  .snip-layout .snip-table__cell--right {
    text-align: right; }
  .snip-layout .snip-table__cell--bold {
    font-weight: bold; }
  .snip-layout .snip-table__cell--highlight {
    font-weight: bold;
    color: #333; }
  .snip-layout .snip-product__thumbnail {
    width: 65px;
    height: 65px;
    float: left;
    margin-right: 10px; }
    .snip-layout .snip-product__thumbnail img {
      max-height: 100%;
      max-width: 100%; }
  .snip-layout .snip-product__name {
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: .5em;
    overflow: hidden; }
  .snip-layout .snip-product__description {
    font-size: 12px;
    overflow: hidden; }
  .snip-layout .snip-product__customfields {
    max-width: 200px; }
  .snip-layout .snip-product__customfield {
    clear: left; }
  .snip-layout .snip-product__customfields-label {
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    overflow: hidden;
    margin: 0 0 0.25em 0; }
  .snip-layout .snip-product__customfields-checkbox {
    float: left;
    margin: 0 0.5em 0.75em 0; }
  .snip-layout .snip-quantity-trigger {
    color: #333333;
    font-weight: bold;
    margin: 0 auto;
    display: table; }
  .snip-layout .snip-quantity-trigger__text {
    display: table-cell;
    padding: 0 5px; }
  .snip-layout .snip-quantity-trigger__btn {
    font-size: 18px;
    border-radius: 30px;
    background-color: #e8e8e8;
    color: #1c1e21;
    text-align: center;
    text-decoration: none;
    height: 1em;
    width: 1em;
    line-height: 1em;
    font-weight: 400;
    display: table-cell; }
    .snip-layout .snip-quantity-trigger__btn:hover {
      background-color: #efe778; }
  .snip-layout .snip-quantity-trigger__btn--minus {
    line-height: 14px; }
  .snip-layout .snip-loader.js-active {
    background-image: url(img/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center center; }
  .snip-layout .snip-loader--table.js-active {
    background-size: 20px 20px;
    width: 20px;
    height: 20px; }
